.order-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80vw;
}

.order {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
  flex: 0 0 auto;
  margin: auto;
  margin-bottom: 5rem;
}

.order-info {
  display: flex;
}

.order-info h2 {
  margin-right: auto;
  color: #0056b3;
}

.order:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
