<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="card">
      <img src="data-science.jpeg" alt="Image description" />
      <div class="card-content">
        <div class="category">Global Banking & Markets</div>
        <div class="title">
          Visual Structuring: Disrupting the Industry Status Quo
        </div>
      </div>
    </div>
    <h1></h1>
    <div class="card">
      <img src="data-science.jpeg" alt="Image description" />
      <div class="card-content">
        <div class="category">Car wash</div>
        <div class="title">Basic Car Washing Service</div>
      </div>
      <div class="card-purchase">
        <p>200KSH:</p>
        <button>Purchase</button>
      </div>
    </div>
  </body>
</html>
