* {
  margin: 0;
  padding: 0;
}

.search-box-full {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.search-box {
  width: 600px;
  height: 40px;
  display: flex;
  cursor: pointer;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 30px;
  align-items: center;
}

.search-box input {
  width: 600px;
  outline: none;
  border: none;
  font-weight: 600;
  background: transparent;
}

.search-box input::placeholder {
  color: #f9f9f9;
}

.search-box a .fas {
  font-size: 15px;
  color: #0056b3;
}

.orders {
  text-decoration: none;
  color: #f9f9f9;
}

@media screen and (max-width: 600px) {
  .search-box {
    width: 300px;
  }

  .search-box input {
    width: 300px;
  }
}
