.table-container {
  overflow-x: auto;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 5px 10px;
  color: white;
  background-color: #0044cc;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #003399;
}

/* Media queries for responsive design */
@media screen and (max-width: 600px) {
  th,
  td {
    padding: 8px;
  }

  button {
    padding: 4px 8px;
  }
}

@media screen and (max-width: 400px) {
  th,
  td {
    padding: 6px;
    font-size: 14px;
  }

  button {
    padding: 3px 6px;
    font-size: 12px;
  }
}

.manage-workers-h1 {
  text-align: center;
}
