.job-list {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
}

.job {
    margin: 1rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    transition: box-shadow 0.3s ease;
    flex: 0 0 auto;
    min-width: 25rem;
}

.job:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.update-status {
    text-align: center;
}

.status-btns {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
}